<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/member/head'); %>
<%- include('../../partials/member/layout'); %>
<main>
  <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">DB Sharing</h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
  </div>
</main>
  <%- include('../../partials/member/footer'); %>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<%- include('../../partials/member/script'); %>
</html>